
<form (submit)="goto($event)">
  <div class="container" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
    <div fxFlex="10">
      <h4>Select Start Date:</h4>
      <input type="date" name="startDate"/>
    </div>
    <div fxFlex="10">
      <h4>Select End Date:</h4>
      <input type="date" name="endDate"/>
    </div>
    <div fxFlex="10" fxLayoutAlign="start end">
      <button mat-button mat-raised-button color="accent">PRESS</button>
    </div>
  </div>

</form>
<table style="width:100%;margin-top: 2%;">
  <tr>
    <th>Month</th>
    <th>Quantity Sold</th>
    <th>Selling Rate (in units)</th>
  </tr>
  <ng-container *ngFor="let brandtrend of brandtrend">
    <tr>
      <!--<td>{{brandtrend.brandname}}</td>-->
      <!--<td>{{brandtrend.brandqty}}</td>-->
    </tr>
  </ng-container>
</table>
