
<form (submit)="goto($event)">
  <div class="container" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
    <div fxFlex="10">
      <h4>Select Start Date:</h4>
      <input type="date" name="startDate"/>
    </div>
    <div fxFlex="10">
      <h4>Select End Date:</h4>
      <input type="date" name="endDate"/>
    </div>
    <div fxFlex="10" fxLayoutAlign="start end">
      <button mat-button mat-raised-button color="accent">PRESS</button>
    </div>
  </div>

</form>
<table style="width:100%;margin-top: 2%;">
  <tr>
    <th>Customer Phone Number</th>
    <th>Customer Favourite Category</th>
    <th>Customer Favourite Week</th>
    <th>Customer Suggesting Item</th>
  </tr>
  <ng-container *ngFor="let customers of customers">
    <tr>
      <td>{{customers.customerphone}}</td>
      <td>{{customers.customerfavcatergory}}</td>
      <td>{{customers.customerfavweek}}</td>
      <td>{{customers.trendingsuggestitem}}</td>
    </tr>
  </ng-container>
</table>
