<mat-card class="gap">
        <mat-card-title> Administration Login</mat-card-title>
    <div class="container" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">

        <div class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="UserID">
            </mat-form-field>
        </div>
        <div class="example-form">
            <mat-form-field class="example-full-width">
                <input type="password" matInput placeholder="Password">
            </mat-form-field>
        <button mat-raised-button color="accent">LOGIN</button>
        </div>
    </div>
</mat-card>