<!DOCTYPE html>
<html lang="en">
<head>
  <title>BARCODE SECTION</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#ffd148;">

  <div class="container" >
    <div class="row">
      <div class="text-right col-md-10" style="padding-top:3%;">CLICK FOR MORE INFORMATION</div>
      <div class="col-md-offset-2"><span style="font-size:60px;padding-top:2%;padding-bottom:2%;" class="glyphicon glyphicon-question-sign"></span></div>
    </div>
    <div style="background-color:#f47153;" class="col-md-4">
      <div class="row">
        <div style="color:white;height:150px;">
          place holder for working image
        </div>
      </div>
      <div class="row">
        <div style="color:white;height:150px;">
          place holder for working image
        </div>
      </div>
      <div class="row">
        <div style="color:white;height:150px;">
          place holder for working image
        </div>
      </div>
    </div>

    <div style="background-color:white;height:450px;padding-left:5%;" class="col-md-8">
      <div class="row">
        <h1> <u> Order Summary</u></h1>

        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="ENTER ITEM CODE HERE">
            </div>
          </div>
          <button type="button" class="btn btn-primary active">ENTER ITEM</button>
        </form>



      </div>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th>ITEM CODE</th>
              <th>ITEM NAME</th>
              <th>ITEM WEIGHT</th>
              <th>ITEM PRICE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>B235</td>
              <td>DHAL</td>
              <td>1 KG</td>
              <td>150LKR</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="container">
    <div style="margin-top:5%;" class="col-md-12">
      <div style=" margin: 0;
      background-color: transparent;
      text-align: center;">
      <input type="text" class="form-control" placeholder="ENTER WEIGHT HERE">

      <button style="margin-top:1%;" type="button" class="btn btn-primary btn-lg active">CHECKOUT</button>
    </div>
  </div>
</div>

</body>
</html>

